/* Basic reset for margin and padding */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}



*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #121212;
    color: #d7d7d7;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full viewport height */
    overflow: auto; /* Enable scrolling for the whole body */
    
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
html {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body {
    overflow-y: scroll; /* Allows vertical scrolling */
}


h1 {
    font-size: 20px;
    margin: 0;
    margin-bottom: 5px;
    color: white;
    user-select: none;
    color: #d7d7d7;
}

h2 {
    font-size: 16px;
    margin: 0;
    color: grey;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    user-select: none;
}

.top-container {
    flex: 0 0 10%; /* Adjust the height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #2e2e2e;
}

.bottom-container {
    flex: 1; /* Take up remaining space */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #151515;
    width: 100%;
    gap: 10px;
    border-radius: 5px;
    
}

.horizontal-container {
    display: flex;
    gap: 10px;
    width: 65%;
    box-sizing: border-box;
    background-color: #151515;
    margin: auto; /* Center these elements within .bottom-container */
}

.summary-panel, .recommendations-panel, .productions-panel, .skills-panel {
    background-color: #1e1e1e;
    border-radius: 5px;
    padding: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.skills-panel {
    background:none;
}

.productions-panel {
    background-color: #151515;
    width: 100%
}

.skills-panel {
    display: flex;
    flex-direction: column; /* Keep the title on top and tags below */
    align-items: center; /* Center-align the container's contents */
    gap: 10px; /* Space between the title and the tag list */
    padding: 10px;
    border-radius: 5px;
    width: 100%; /* Ensure it takes full width of its parent */
}

.skills-panel .software-tag-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Align items to the start (left) */
    gap: 10px;
    width: 100%;
}


.software-tag {
    background-color: #2d2d2d;
    color: lightgray;
    padding: 5px 10px;
    border-radius: .25em;
    font-size: 14px;
    white-space: nowrap; /* Prevent tags from breaking into multiple lines */
}




.recommendation-content {
    flex-grow: 1; /* Takes up all available space */
    position: relative; /* Context for absolute positioning of recommendations */
    width: 100%; /* Full width of its parent */
    min-height: 350px; /* Minimum height to ensure space for content */
    overflow: hidden; /* Keeps all recommendations within the div */
}


.recommendation {
    width: 100%;
    display: none; /* Hide all initially */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: opacity 0.5s;
    position: absolute; /* Allow absolute positioning for sliding effect */
    top: 0; /* Align at the top inside the relative container */
    left: 0; /* Align to the left */
}

.recommendation.active {
    display: flex; /* Only display the active recommendation */
    opacity: 1;
    visibility: visible;
}

.recommendation h2 {
    font-size: 20px;
    margin: 5px 0;
    color: #f5ba13;
}

.recommendation h3 {
    font-size: 18px;
    margin: 5px 0;
    color: #cccccc;
}

.recommendation-date {
    font-size: 14px;
    margin: 5px 0;
    color: #999999;
}

.recommendation-quote {
    font-size: 16px;
    margin: 10px 0;
    color: grey;
    line-height: 1.5;
}

.recommendation-dots {
    position: absolute;
    bottom: 10px; /* Position dots at the bottom */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 5px;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #e0e0e0;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active {
    background-color: #f5ba13;
}

p {
    font-size: 16px;
    line-height: 1.4;
    color: grey;      
}

.summary-panel p {
    text-align: justify;
    padding: 5px;   
}

.productions-subpanels {
    display: flex;
    flex-direction: column; /* Stacks children vertically */
    align-items: center; /* Centers cards horizontally */
    width: 100%; /* Uses the full width of its parent container */
    gap: 5px; /* Space between each card */
}

.production-subpanel {
    padding: 10px;
    background-color: #1e1e1e;
    border-radius: 5px;
    width: 65%; /* Adjusts the width to be 80% of the parent container */
    height: auto; /* Adjusts height based on content */
    max-height: 400px; /* Limits maximum height for consistency */
    margin-bottom: 20px; /* Space between each card */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Adds shadow for better depth */
    display: flex; /* Enables flexbox layout */
    align-items: flex-start; /* Aligns items to the start vertically */
}

.production-subpanel img {
    width: 200px; /* Width of the thumbnail */
    height: auto; /* Height adjusts based on aspect ratio */
    object-fit: cover; /* Ensures cover fit for the image */
    border-radius: 5px; /* Rounded corners */
    margin-right: 20px; /* Space between image and text */
}

.production-details {
    display: flex;
    flex-direction: column; /* Stacks title, company, and time vertically */
    align-items: flex-start; /* Aligns items to the start */
}

.production-content {
    flex-grow: 1; /* Allows the description to take remaining space */
    display: flex;
    flex-direction: column; /* Optionally control layout of the description */
    justify-content: flex-start; /* Aligns description to the start */
}

.production-subpanel h2 {
    margin: 5px 0; /* Margins for spacing */
    color: #d7d7d7; /* Text color */
    text-align: left; /* Aligns text to the left */
} 

.production-subpanel p {
    margin: 5px 0; /* Margins for spacing */
    color: grey; /* Text color */
    text-align: left; /* Aligns text to the left */
}

.production-subpanel h2 {
    font-size: 20px; /* Font size for the title */
}

.production-subpanel p {
    font-size: 16px; /* Font size for the paragraphs */
}