/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styling */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #121212;
  color: #d7d7d7;
  height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

/* Add this to your existing CSS */

.home-button {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #191919;
  font-size: 24px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  z-index: 10;
  transition: background-color 0.3s, color 0.3s;
}

.home-button:hover {
  color: #f5ba13;
}


/* Main Container Styling */
.container {
  display: flex;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 20px;
  margin: 0;
  margin-bottom: 5px;
  color: white;
  user-select: none;
  color: #d7d7d7;
  
}

h2 {
  font-size: 16px;
  margin: 0;
  color: grey;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  user-select: none;
}

h3 {
  font-size: 16px;
  color: lightgray;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  user-select: none;
  padding-left: 10px;
}

/* Media Container Styling */
.media-container {
  flex: 0 0 80%; /* Take up 80% of the width */
  background-color: #151515;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2px;
  overflow-y: auto; /* Enable vertical scrolling */
  height: 100vh; /* Full viewport height */
}

/* Hide Scrollbar */
.media-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit browsers */
}

.media-container {
  -ms-overflow-style: none;  /* Hide scrollbar for Internet Explorer and Edge */
  scrollbar-width: none;  /* Hide scrollbar for Firefox */
}


/* Info Container Styling */
.info-container {
  flex: 0 0 20%; /* Take up 20% of the width */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  gap: 10px;
  overflow: hidden;
  border-left: 1px solid #272727;
}

/* Top Container Styling */
.top-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Project Description Container Styling */
.project-description-container {
  padding: 10px;

}

.project-description-container h1 {
  font-size: 16px;
  margin: 0;
  margin-bottom: 5px;
  color: white;
  user-select: none;
  color: #d7d7d7;
  font-weight: 400;
}

.project-description-container h2 {
  font-size: 10px;
  color: white;
}

.project-description-container p {
  font-size: 14px;
  margin: 0;
  color: grey;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  user-select: none;
}

/* Media Content Styling */
#project-media {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#project-media img {
  display: block;
  width: 100%;
  height: auto;
  padding: 5px;
}

#project-media video {
  width: 100%;
  height: auto;
  padding: 5px;
}

/* Responsive Iframe */
.responsive-iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
}

.responsive-iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

/* Responsive Design */
@media (max-width: 600px) {
  .container {
    flex-direction: column-reverse;
  }

  .media-container, .info-container {
    width: 100%;
    height: 100vh;
  }
}

