/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styling */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #121212;
  color: #d7d7d7;
  height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.home-button {
  position: fixed;
  top: 10px;
  left: 10px;
  color: white;
  font-size: 20x;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  z-index: 10;
  transition: background-color 0.3s, color 0.3s;
  filter: drop-shadow(0 0 0.1rem black);
}

.home-button:hover {
  color: #edb049;
}

/* Main Container Styling */
.container {
  display: flex;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 20px;
  margin-bottom: 10px;
  color: white;
  user-select: none;
}

h2 {
  font-size: 16px;
  color: grey;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  user-select: none;
}

h3 {
  font-size: 16px;
  font-weight: 100;
  user-select: none;
  padding-left: 10px;
}

#toggle-description {
  display: inline-block;
  color: grey;
  background-color: #222222;
  padding: 2px 10px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  margin-top: 10px;
  transition: color 0.3s;
  opacity: 0.5;
}

#toggle-description:hover {
  opacity: 1;
  color: #f5ba13;
  background-color: #272727;
}

/* Media Container Styling */
.media-container {
  position: relative;
  flex: 0 0 80%; /* Take up 80% of the width */
  background-color: #151515;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2px;
  overflow-y: auto; /* Enable vertical scrolling */
  height: 100vh; /* Full viewport height */
  -ms-overflow-style: none;  /* Hide scrollbar for Internet Explorer and Edge */
  scrollbar-width: none;  /* Hide scrollbar for Firefox */
}

/* Hide Scrollbar */
.media-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit browsers */
}

.info-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit browsers */
}

/* Twentytwenty Slider Styling */
.twentytwenty-container {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: 20px;
}

.twentytwenty-container img {
  width: 100%;
  height: auto;
  display: block;
}

.twentytwenty-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
  border-right: 2px solid #fff;
}

.twentytwenty-handle {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 10;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 50%;
  margin-top: -15px;
  margin-left: -15px;
}



.nav-button {
  background-color: #121212;
  border: none;
  border-radius: 0.1em;
  color: white;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  opacity: 0.2;
  transition: opacity 0.3s;
}

.nav-button:hover {
  opacity: 1;
}

#prev-project {
  left: calc((100vw - 100%) / 2 + 10px); /* Adjust to the left within media-container */
}

#next-project {
  right: calc((100vw - 60%) / 2 + 10px); /* Adjust to the right within media-container */
}

/* Info Container Styling */
.info-container {
  flex: 0 0 20%; /* Take up 20% of the width */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  gap: 10px;
  overflow: hidden;
  overflow: auto;
}

/* Top Container Styling */
.top-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Project Description Container Styling */
.project-description-container {
  padding: 10px;
}

.project-description-container h1 {
  font-size: 16px;
  margin: 0;
  margin-bottom: 5px;
  color: white;
  user-select: none;
  color: #d7d7d7;
  font-weight: 400;
}

.project-description-container h2 {
  font-size: 10px;
  color: white;
}

.project-description-container p {
  font-size: 14px;
  margin: 0;
  color: grey;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  user-select: none;
}

.media-description {
  margin-bottom: 10px;
  color: grey;
  font-size: 14px;
  text-align: center;
}

/* Media Content Styling */
#project-media {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#project-media img {
  display: block;
  width: 100%;
  height: auto;
}

#project-media video {
  width: 100%;
  height: auto;
}

hr {
  opacity: .05;
}

/* Responsive Iframe */
.responsive-iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
}

.responsive-iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.responsive-iframe-container iframe, #project-media video, #project-media img {
  padding: 5px;
}  

/* Responsive Design */
@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .media-container, .info-container {
    width: 100%;
    height: 100vh;
  }
}
