/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styling */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #121212;
  color: #d7d7d7;
  height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.home-button {
  position: fixed;
  top: 10px;
  left: 10px;
  color: darkgrey;
  font-size: 24px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  z-index: 10;
  transition: background-color 0.3s, color 0.3s;
  filter: drop-shadow(0 0 0.1rem black);
}

.home-button:hover {
  color: #edb049;
}

/* Main Container Styling */
.container {
  display: flex;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 20px;
  margin-bottom: 10px;
  color: white;
  user-select: none;
}

h2 {
  font-size: 16px;
  color: grey;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  user-select: none;
}

h3 {
  font-size: 16px;
  font-weight: 100;
  user-select: none;
  padding-left: 10px;
}

/* Media Container Styling */
.media-container {
  position: relative;
  flex: 0 0 80%; /* Take up 80% of the width */
  background-color: #151515;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2px;
  overflow-y: auto; /* Enable vertical scrolling */
  height: 100vh; /* Full viewport height */
  -ms-overflow-style: none;  /* Hide scrollbar for Internet Explorer and Edge */
  scrollbar-width: none;  /* Hide scrollbar for Firefox */
}

/* Hide Scrollbar */
.media-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit browsers */
}

.info-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit browsers */
}

.nav-button {
  background-color: #121212;
  border: none;
  color: white;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.nav-button:hover {
  opacity: 1;
}

#prev-project {
  left: calc((100vw - 100%) / 2 + 10px); /* Adjust to the left within media-container */
}

#next-project {
  right: calc((100vw - 60%) / 2 + 10px); /* Adjust to the right within media-container */
}

/* Info Container Styling */
.info-container {
  flex: 0 0 20%; /* Take up 20% of the width */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  gap: 10px;
  overflow: hidden;
  border-left: 1px solid #272727;
  overflow: auto;
}

/* Top Container Styling */
.top-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Project Description Container Styling */
.project-description-container {
  padding: 10px;
}

.project-description-container h1 {
  font-size: 16px;
  margin: 0;
  margin-bottom: 5px;
  color: white;
  user-select: none;
  color: #d7d7d7;
  font-weight: 400;
}

.project-description-container h2 {
  font-size: 10px;
  color: white;
}

.project-description-container p {
  font-size: 14px;
  margin: 0;
  color: grey;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  user-select: none;
}

.media-description {
  margin-bottom: 10px;
  color: grey;
  font-size: 14px;
  text-align: center;
}

/* Media Content Styling */
#project-media {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#project-media img {
  display: block;
  width: 100%;
  height: auto;
}

#project-media video {
  width: 100%;
  height: auto;
}

.project-stats-container {
  padding: 10px;
}

.stat {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: darkgrey;
}

.stat-icon {
  font-size: 24px;
  margin-right: 10px;
}

.triangle-icon {
  color: #a3e4b9; /* Pastel green */
}

.texture-icon {
  color: #F1948A; /* Pastel red */
}

.size-icon {
  color: #85C1E9; /* Pastel blue */
}

.workflow-icon {
  color: #F5F5F5; /* White */
}

.stat strong {
  margin-right: 5px;
  font-weight: 400;
}


hr {
  opacity: .05;
}

/* Responsive Iframe */
.responsive-iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
}

.responsive-iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.responsive-iframe-container iframe, #project-media video, #project-media img {
  padding: 5px;
}  

/* Responsive Design */
@media (max-width: 600px) {
  .container {
    flex-direction: column-reverse;
  }

  .media-container, .info-container {
    width: 100%;
    height: 100vh;
  }
}
