.recommendation-content {
    flex-grow: 1; /* Takes up all available space */
    position: relative; /* Context for absolute positioning of recommendations */
    width: 100%; /* Full width of its parent */
    min-height: 350px; /* Minimum height to ensure space for content */
    overflow: hidden; /* Keeps all recommendations within the div */
}

.recommendation {
    width: 100%;
    display: none; /* Hide all initially */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: opacity 0.5s;
    position: absolute; /* Allow absolute positioning for sliding effect */
    top: 0; /* Align at the top inside the relative container */
    left: 0; /* Align to the left */
}

.recommendations-panel {
    background-color: #121212;
    border-radius: 5px;
    padding: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start (left) */
    text-align: left; /* Align text to the left */
    margin-bottom: 20px;
}

.recommendation.active {
    display: flex; /* Only display the active recommendation */
    opacity: 1;
    visibility: visible;
}

.recommendation h2 {
    font-size: 20px;
    margin: 5px 0;
    color: #f5ba13;
}

.recommendation h3 {
    font-size: 18px;
    margin: 5px 0;
    color: #cccccc;
}

.recommendation-date {
    font-size: 14px;
    margin: 5px 0;
    color: #999999;
}

.recommendation-quote {
    font-size: 16px;
    margin: 10px 0;
    color: grey;
    line-height: 1.5;
}

.recommendation-dots {
    position: absolute;
    bottom: 10px; /* Position dots at the bottom */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 5px;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #e0e0e0;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active {
    background-color: #f5ba13;
}