.project-stats-container {
    padding: 10px;
  }
  
  .stat {
    display: flex;
    align-items: center;
    color: darkgrey;
    font-size: 14px;
    margin-right: 5px;
    font-weight: 400;
    user-select: none;
  }
  
  .stat-icon {
    margin-right: 10px;
  }
  
  .triangle-icon, .material-icon, .engine-icon, .size-icon, .workflow-icon {
    color: #373737; /* Pastel green */
  }
  
  .stat strong {
    margin-right: 5px;
    font-weight: 400;
  }