#thumbnail-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(300px, 1fr)
  ); /* Adjusted min-width */
  gap: 5px; /* Consistent gap between items */
  box-sizing: border-box;
  width: 100%; /* Ensure it spans the full width */
  align-content: start; /* Ensure consistent vertical gaps */
}

@keyframes slideInLeft {
  from {
    transform: translateX(-30px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.thumbnail {
  border-radius: 0.2em;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s;
  background-color: #1e1e1e;
  height: 300px; /* Fixed height */
}

.thumbnail:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 0.5s;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(0, 0, 0, 0.9)
  );
  z-index: 1;
}

.thumbnail:hover .thumbnail-title {
  opacity: 1;
  animation: slideInLeft 0.5s forwards;
}

.thumbnail-title {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  z-index: 2;
  color: white;
  font-size: 18px;
  opacity: 0;
  transition: opacity 0.5s;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center center;
}

.overlay-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 14px;
  color: white;
  margin-right: 5px;
  opacity: 0;
  transition: opacity 0.5s;
}

.thumbnail:hover .overlay-icon {
  opacity: 1;
  animation: slideInLeft 0.5s forwards;
}

.overlay-icon + .overlay-icon {
  left: 40px; /* Adjust spacing between icons */
}


/* Responsive Design for small screens */
@media screen and (min-width: 548px) and (max-width: 1280px) {
  #thumbnail-container {
    grid-template-columns: repeat(
      auto-fill,
      minmax(200px, 1fr)
    ); /* Adjusted min-width */
  }
  .thumbnail {
    height: 200px;
  }
}

@media screen and (min-width: 375px) and (max-width: 667px) {
  #thumbnail-container {
    grid-template-columns: repeat(
      auto-fill,
      minmax(150px, 1fr)
    ); /* Adjusted min-width */
  }
  .thumbnail {
    height: 150px;
  }
  .thumbnail-title {
    opacity: 1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75); /* Add this line */
  }
}
